.head{
    background-color: rgb(228, 230, 228);
}

.delete{
    color:red;
}

.update{
    color:blue;
}

.center {
    display: flex;
    justify-content: center;
  }

.add{
    color:green;
}

td{
    border:1px solid;
}