<div class="center">
<table >
    <thead class="border head">
        <tr>
            <th>Nom du produit</th>
            <th>Catégorie</th>
            <th>Prix</th>
            <th>Quantité</th>
            <th>En stock</th>
            <th>Action
                <button class="add">
                    <i class="bi bi-plus"></i>
                </button>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let plant of subCollection$ | async">
            <td>{{plant.nom}}</td>
            <td>{{plant.category}}</td>
            <td>{{plant.price}}</td>
            <td>{{plant.quantity}}</td>
            <td>{{plant.instock}}</td>
            <td>
                <button class="update" (click)="onClickToUpdate(plant.id)">
                    <i class="bi bi-pencil"></i>
                </button>
                <button class="delete"  (click)="onClickToDelete(plant.id)">
                    <i class="bi bi-trash"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>
</div>
